//
   Created by liushuqing on 16/7/20.
doctype html
html
    head
        title 测试
        meta(charset="utf-8")
       // script(src="js/popup.js")
      //  script(src='js/jquery.min.js')
    body
        p 请选择优先级
        select(id="priority")
            option(value="1") id
            option(value="2") class
        button(id="start") 开始选择



